<div class="container table-responsive py-5">
    <div class="card w-100 mb-10 radius-5 box-sh d-flex">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-search p-2">
                    <span class=" form-control-feedback">
                        <img class="search-img" src="../../assets/Icon_search.png">
                    </span>
                    <input type="text" class="form-control" placeholder="What are you looking for ?"
                        [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-add float-right mt-10 mr-10" (click)="addNew()"><i class="fa fa-plus"></i><span
                        class="mt-10">New Record</span></button>
            </div>
        </div>
    </div>
    <table class="table table-xs-responsive table-hover box-sh" aria-role="table">

        <caption class="text-right"><small>MUHAMMAD IQBAL BIN ABDUL RAHMAN</small> </caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Skill</th>
                <th>Hobby</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of users | filter:searchText; let j = index">
                <th scope="row">{{j + 1}}</th>
                <td scope="col">{{ item.username }}</td>
                <td scope="col">{{ item.email }}</td>
                <td scope="col">{{ item.phone }}</td>
                <td scope="col">{{ item.skill }}</td>
                <td scope="col">{{ item.hobby }}</td>
                <td class="text-center">
                    <span>
                        <i class="fa fa-trash" (click)="deleteMission(item._id)"></i>
                    </span>
                    <span>
                        <i class="m-4 fa fa-edit" (click)="openModal(editProfileModal, item)"></i>
                    </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>




<ng-template #editProfileModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit User</h5>
    </div>

    <div class="modal-body">
        <form [formGroup]="editProfileForm" (ngSubmit)="onSubmitEdit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first">Username</label>
                        <input type="text" class="form-control" placeholder="" id="username" formControlName="username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last">Email Address</label>
                        <input type="email" class="form-control" placeholder="" id="email" formControlName="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first">Phone Number</label>
                        <input type="text" class="form-control" placeholder="" id="phone" formControlName="phone">
                    </div>
                </div>
            </div>

            <!-- {{this.editProfileForm.value | json}} -->

            <div class="row">

                <div class="col-md-6">
                    <div formArrayName="hobby">
                        <button class="btn btn-hobby btn-default" type="button" (click)="onAddHobby()">Add
                            Hobby</button>

                        <div class="form-group row" *ngFor="let hobbyControl of funcHobby(); let i=index">
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="hobby" [formControlName]="i">
                            </div>
                            <div class="col-md-2">

                                <i (click)="deleteHobby(i)" class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div formArrayName="skill">
                        <button class="btn btn-hobby btn-default" type="button" (click)="onAddSKill()">Add
                            Skill</button>

                        <div class="form-group row" *ngFor="let hobbyControl of funcSkill(); let i=index">
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="skill" [formControlName]="i">
                            </div>
                            <div class="col-md-2">

                                <i (click)="deleteSkill(i)" class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-20">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-submit w-100">Edit Account</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-cancel w-100" (click)="modal.dismiss()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>